# NPM
**/node_modules

# API cache
**/.cache

# Docker
**/.dockerignore
**/docker-compose.yml
**/Dockerfile

# Sensible data
**/.env*

# Git
**/.git
**/.gitignore

# Project
LICENSE
README.md
CHANGELOG.md
